

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.cover {
	background-image: url('../img/cover.jpeg');
	height: 500px;
}

.slogan {
	color: #FFF;
}

.appstore {
	margin-top: 80px;
}













